<%- include ('../../partials/header.ejs'); %> 
<%- include ('../../partials/navbar.ejs'); %> 

<div class="container">
    <div class="card mt-4">
        <div class="card-header">
            <h2>Novo artigo</h2>
        </div>
        <div class="card-body">
            <form class="mt-4" method="POST" action="/articles/save">
                <input class="form-control mb-4" type="text" name="title" placeholder="Defina o titulo do artigo">
                <textarea class="form-control mt-4" placeholder="Escrava o artigo aqui" name="body" id="article"></textarea>
                <label class="mt-4">Categoria</label>
                <select name="category" class="form-select">
                    <% categories.forEach((category) => { %>
                        <option value="<%= category.id %> "><%= category.title %> </option>
                    <% }); %> 
                </select>
                <button class="btn btn-success mt-4 mb-4">Cadastrar</button>
            </form>
        </div>
    </div>
</div>


<%- include ('../../partials/footer.ejs'); %>

<script src="/tinymce/js/tinymce/tinymce.min.js"></script>
<script>
    tinymce.init({
        language: 'pt_BR',
        selector: "#article",
        plugins: [
            'advlist autolink link image lists print preview hr searchreplace wordcount fullscreen insertdatetime media save table paste emoticons'
        ]
    })
</script>
