<%- include ('./partials/header.ejs'); %>
<%- include ('./partials/navbar_home.ejs'); %>
<body>
        <section class="bg-dark text-light p-5 text-center text-sm-start">
            <div class="container">
                <div class="d-flex align-items-center justify-content-between">
                    <div>
                        <h1>Bem vindo ao <span class="text-warning">Blog</span></h1>
                        <p class="lead my-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vel vehicula lacus. Maecenas luctus ultricies condimentum. Vivamus condimentum malesuada dignissim. Quisque varius augue dui, maximus accumsan nisl pulvinar sit amet. Sed rutrum lobortis ex, in lacinia diam interdum ut.</p>
                        <button class="btn btn-primary btn-lg">Lorem</button>
                    </div>
                    <img class="img-fluid w-50 d-none d-sm-block" src="img/section_image.svg" alt="">
                </div>
            </div>
        </section>

        <section class="bg-primary text-light p-5">
            <div class="container">
                <div class="d-md-flex justify-content-between align-items-center">
                    <h3 class="mb-3 mb-md-9">Inscreva-se na nossa Newsletter</h3>
                    <div class="input-group news-input">
                        <input type="text" class="form-control" placeholder="Insira seu email" aria-label="Insira seu email" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                          <button class="btn btn-dark btn-lg" type="button">Button</button>
                        </div>
                      </div>
                </div>
            </div>
        </section>

        <section class="p-5">
            <div class="container">
                <div class="row row-cols-1 row-cols-md-4 g-4">
                    <% articles.forEach(article => { %>
                        <div class="col-md">
                            <div class="card mb-3">
                                <a href="/<%= article.slug %> ">
                                    <!-- antigo  -->
                                    <img class="card-img-top" src="<%- article.miniature %> ">
                                    <div class="card-body">
                                        <h5 class="card-title">
                                            <%= article.title %> 
                                        </h5>
                                        <p class="card-text">
                                            <%- article.body.slice(0, 166)%>
                                        </p>
                                        <p class="card-text mb-2">
                                            <small class="text-muted">
                                                <i class="bi bi-eye">   219</i>
                                                <i class="bi bi-calendar">   <%- article.updatedAt%> </i>
                                            </small>
                                        </p>
                                        <a href="/<%= article.slug %>" class="btn btn-dark">Ler mais</a>
                                    </div>
                                </a>
                            </div>
                        </div>
                    <% }); %> 
                </div>
            </div>
        </section>

        <div class="container">
            <a href="/articles/page/2" style="float: right;">Proximo ></a>
        </div>
</body>
<%- include ('./partials/footer.ejs'); %> 